.contact {
  padding: 8rem 0;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: 3rem;
}

.contact-info h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.contact-info>p {
  color: var(--text-gray);
  margin-bottom: 2.5rem;
}

.info-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.info-icon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}

.info-content h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.info-content p {
  color: var(--text-gray);
}

.social-links {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  transition: var(--transition);
  font-weight: bold;
  font-size: 0.8rem;
}

.social-link:hover {
  background-color: var(--accent);
  color: var(--primary-dark);
  transform: scale(1.05);
}

.contact-form form {
  display: grid;
  gap: 1.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  color: var(--text-light);
  font-family: inherit;
  transition: var(--transition);
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--accent);
  background-color: rgba(255, 255, 255, 0.08);
}

.form-group textarea {
  min-height: 150px;
  resize: vertical;
}

.contact-form .btn {
  justify-self: start;
  padding: 0.8rem 2.5rem;
}

@media (max-width: 992px) {
  .contact-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

@media (max-width:400px) {
  .info-content p {
    font-size: 0.7rem;
  }
}