.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 0;
  transition: var(--transition);
}

.header.scrolled {
  backdrop-filter: blur(7px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.logo a {
  font-size: 1.8rem;
  font-weight: 700;
  transition: var(--transition);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 2.5rem;
}

.nav-item a {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

.nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--accent);
  transition: var(--transition);
}

.nav-item a:hover::after {
  width: 100%;
}



.nav-toggle {
  display: none;
  cursor: pointer;
  z-index: 1001;
  flex-shrink: 0;
}

.hamburger {
  width: 24px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--text-light);
  transition: var(--transition);
}

.hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
    margin-left: 1rem;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: var(--secondary-dark);
    flex-direction: column;
    justify-content: center;
    transition: var(--transition);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  }

  .nav.open {
    right: 0;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .theme-toggle {
    margin: 2rem 0 0 0;
  }

  .hamburger {
    margin-right: 50%;
  }
}